# Data collection

Below are the codings for some categorial variables in the datasets:

Education 1: 'Below College' 2: 'College' 3: 'Bachelor' 4: 'Master' 5: 'Doctor'

EnvironmentSatisfaction 1: 'Low' 2: 'Medium' 3: 'High' 4: 'Very High'

JobInvolvement 1: 'Low' 2: 'Medium' 3: 'High' 4: 'Very High'

JobSatisfaction 1: 'Low' 2: 'Medium' 3: 'High' 4: 'Very High'

PerformanceRating 1: 'Low' 2: 'Good' 3: 'Excellent' 4: 'Outstanding'

RelationshipSatisfaction 1: 'Low' 2: 'Medium' 3: 'High' 4: 'Very High'

WorkLifeBalance 1: 'Bad' 2: 'Good' 3: 'Better' 4: 'Best'

The dataset can be loaded by running the below code cell

In [4]:
import pandas as pd
df_attrition = pd.read_csv(
    "https://raw.githubusercontent.com/IBM/employee-attrition-aif360/master/data/emp_attrition.csv")
df_attrition.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
df_attrition.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

**Convert categorial data (e.g. Department, EducationField) to numeric data**

In [6]:
import pandas as pd
df_attrition = pd.read_csv("https://raw.githubusercontent.com/IBM/employee-attrition-aif360/master/data/emp_attrition.csv")

df_attrition_processed = pd.get_dummies(df_attrition, columns= ['Attrition', 'BusinessTravel', 'Department',
       'Education', 'EducationField',
       'Gender', 
       'JobLevel', 'JobRole',
       'MaritalStatus', 
       'Over18', 'OverTime'], drop_first=True)

df_attrition_processed.head()

,Age,DailyRate,DistanceFromHome,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobSatisfaction,MonthlyIncome,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1102,1,1,1,2,94,3,4,5993,...,False,False,False,False,False,True,False,False,True,True
1,49,279,8,1,2,3,61,2,2,5130,...,False,False,False,False,True,False,False,True,False,False
2,37,1373,2,1,4,4,92,2,3,2090,...,True,False,False,False,False,False,False,False,True,True
3,33,1392,3,1,5,4,56,3,3,2909,...,False,False,False,False,True,False,False,True,False,True
4,27,591,2,1,7,1,40,3,2,3468,...,True,False,False,False,False,False,False,True,False,False

In [7]:
feature_names = ['Age', 'DailyRate', 'DistanceFromHome', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Research & Development', 'Department_Sales', 'Education_2',
       'Education_3', 'Education_4', 'Education_5',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Male', 'JobLevel_2',
       'JobLevel_3', 'JobLevel_4', 'JobLevel_5', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'OverTime_Yes']

**Build a logistic regression model using 70% (training)/ 30% (testing) to predict employee attrition**

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
import numpy as np

# if we have multiple step in building predictive model, we can use make_pipeline
model = make_pipeline(StandardScaler(), LogisticRegression()) # apply standardisation to the dataset and then use them to train logistic regression classifier
X = df_attrition_processed[feature_names] # create X: data related to feature variables
y = df_attrition_processed["Attrition_Yes"] # create y: data related to the target variable

# before training the classification model, we will split data into training (50%) and testing (50%) sets 
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)

# train the model with provided X_train, y_train
model.fit(X_train, y_train)

# calculate training accuracy
accuracy_training = model.score(X_train, y_train) 
print("Training Accuracy of the logistic regression classifier:", accuracy_training)

# calculate testing accuracy
accuracy_testing = model.score(X_test, y_test) 
print("Testing Accuracy of the logistic regression classifier:", accuracy_testing)

ModuleNotFoundError: No module named 'sklearn'