# Pandas Tutorial

### This is a brief tutorial on how to manipulate data using pandas

*The car model dataset is a comprehensive collection of information about cars. It includes information about the car's specifications, such as horsepower, torque, transmission type, drivetrain, fuel economy, number of doors, price, model year range, body type, engine type, and number of cylinders. The dataset also includes information about the car's history, such as the year it was first released, the number of units sold, and the average price.*

*Data source: https://www.kaggle.com/datasets/peshimaammuzammil/2023-car-model-dataset-all-data-you-need?resource=download*


**Import the Pandas library into your Jupyter Notebook using the following import statement:**

In [2]:
import pandas as pd

**Pandas provides the read_csv() function, which can load data from a CSV file :**

In [3]:
data = pd.read_csv('Car_Models.csv')

**After loading the data, let's explore it to understand its structure and contents. Here are some useful functions:**

In [8]:
data.head()

,Company,Model,Horsepower,Torque,Transmission Type,Drivetrain,Fuel Economy,Number of Doors,Price,Model Year Range,Body Type,Engine Type,Number of Cylinders
0,Ferrari,812 Superfast,789 hp,530 lb-ft,7-speed automatic,RWD,13/20 mpg,2,"$366,712",2018 - Present,Coupe,6.5L V12,12
1,Ferrari,F8 Tributo,710 hp,568 lb-ft,7-speed automatic,RWD,15/19 mpg,2,"$276,550",2020 - Present,Coupe,3.9L V8,8
2,Ferrari,Roma,611 hp,560 lb-ft,8-speed automatic,RWD,16/24 mpg,2,"$218,750",2021 - Present,Coupe,3.9L V8,8
3,Ferrari,Portofino M,612 hp,561 lb-ft,8-speed automatic,RWD,16/22 mpg,2,"$254,475",2021 - Present,Convertible,3.9L V8,8
4,Ferrari,SF90 Stradale,986 hp,590 lb-ft,8-speed automatic,AWD,18 mpg (combined),2,"$625,000",2020 - Present,Coupe,4.0L V8,8

**If we want to grab the columns names:**

In [12]:
data.columns

Index(['Company', 'Model', 'Horsepower', 'Torque', 'Transmission Type',
       'Drivetrain', 'Fuel Economy', 'Number of Doors', 'Price',
       'Model Year Range', 'Body Type', 'Engine Type', 'Number of Cylinders'],
      dtype='object')

**Let's say we want to filter the data to include only rows where the 'Company' column is equal to 'Honda':**

In [9]:
data[data['Company'] == 'Honda']

,Company,Model,Horsepower,Torque,Transmission Type,Drivetrain,Fuel Economy,Number of Doors,Price,Model Year Range,Body Type,Engine Type,Number of Cylinders
371,Honda,Accord,192 hp,192 lb-ft,10-speed automatic,Front-wheel drive,27 city / 37 highway,4,"Starting at $24,770",2021-present,Sedan,4-cylinder,4
372,Honda,Civic,158 hp,138 lb-ft,CVT automatic,Front-wheel drive,31 city / 40 highway,4,"Starting at $21,700",2022-present,Sedan,4-cylinder,4
373,Honda,CR-V,190 hp,179 lb-ft,10-speed automatic,Front-wheel drive or all-wheel drive,27 city / 32 highway,5,"Starting at $25,295",2023-present,SUV,4-cylinder,4
374,Honda,HR-V,158 hp,138 lb-ft,CVT automatic,Front-wheel drive,28 city / 32 highway,5,"Starting at $21,700",2023-present,SUV,4-cylinder,4
375,Honda,Odyssey,280 hp,262 lb-ft,10-speed automatic,Front-wheel drive,19 city / 28 highway,8,"Starting at $31,470",2023-present,Minivan,V6,6
376,Honda,Pilot,280 hp,262 lb-ft,9-speed automatic,Front-wheel drive or all-wheel drive,19 city / 26 highway,8,"Starting at $36,295",2023-present,SUV,V6,6
377,Honda,Insight,151 hp,134 lb-ft,CVT automatic,Front-wheel drive,49 city / 47 highway,5,"Starting at $23,695",2023-present,Hybrid,4-cylinder,4
378,Honda,NSX,573 hp,492 lb-ft,9-speed automatic,Rear-wheel drive,21 city / 28 highway,2,"Starting at $156,000",2016-present,Sports car,V6,6
379,Honda,S2000,240 hp,162 lb-ft,6-speed manual,Rear-wheel drive,20 city / 28 highway,2,"Starting at $31,995",1999-2009,Sports car,4-cylinder,4

**We can get a brief describtion of the dataset :**

In [11]:
data.describe()

,Company,Model,Horsepower,Torque,Transmission Type,Drivetrain,Fuel Economy,Number of Doors,Price,Model Year Range,Body Type,Engine Type,Number of Cylinders
count,404,404,404,404,404,404,399,404,398,403,403,403,402
unique,62,374,232,205,68,22,250,22,323,125,31,94,23
top,Chevrolet,Zoe,148 hp,184 lb-ft,8-speed automatic,Front-wheel drive,9 mpg,5,"Starting at $32,990",2023-2024,SUV,4-cylinder,4
freq,20,2,12,19,81,79,10,121,5,85,135,93,163